# Dependencies
node_modules/
.pnp
.pnp.js

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# EAS
.easignore

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
build/
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
